.background-container {
  background-image: url('https://cdn.sanity.io/images/jpdj44ow/production/61568813c90e75e5591c89a24e32296231fe0cf0-1700x1014.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 3rem;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Menambahkan bayangan untuk teks agar lebih terlihat */
}
