.background-container {
  background-image: url('https://cdn.sanity.io/images/jpdj44ow/production/4f2cd245ece40942cb107fdbf9ecaa4f1ebb44e2-1900x1151.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}