a{
    cursor: pointer;
}
.menu-bar{
position: fixed;
top: 0;
left: 0;
width: 100vw;
padding: 1em 4em;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 999;
}
.logo-image img {
  filter: brightness(0) invert(1);
}


.menu-overlay-bar{
    position: fixed;
    padding: 2em;
}

.menu-bar a, .menu-open p{
    cursor: pointer;
}
.menu-close p{
    cursor: pointer;
}
.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #808372;
    z-index:99;
    display: flex;
    flex-direction: column;
    clip-path: circle(0% at 100% 0);
}
.menu-image {
  background-image: url("https://cdn.sanity.io/images/jpdj44ow/production/e7ae5c552d9d5bdbb4fa848b11235d1876b90dc5-700x975.jpg");
  background-size: cover;       /* Agar gambar menutupi seluruh div */
  background-position: center;   /* Memusatkan gambar di tengah */
  width: 45%;                   /* Sesuaikan ukuran sesuai kebutuhan */
  height: 100%;                  /* Sesuaikan ukuran sesuai kebutuhan */
}

.menu-close-icon{
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    justify-content: center;
}
.book-now a{
    font-size: 20px;
    letter-spacing: 2px;
}
.menu-copy{
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;

}

.menu-links{
    width: 55%;
            display: flex;
    flex-direction: column;
    gap: 36px;
}

.menu-close-icon p{
    font-size: 100px;
    line-height: 70%;
}
.menu-link-item {
    width: max-content;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}


.menu-link-item-holder a{
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 100%;
}

.menu-info{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    padding: 2em;

}

.menu-info-row{
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    gap: 20px ;
} 

/* .menu-overlay-bar{
    background: red;
    display: flex;
    width: 95%;
    position: absolute;
    justify-content: space-between;
} */

.menu-icon {
  display: inline-block;
  cursor: pointer;
  width: 70px;
  height: 10px; /* Sesuaikan dengan tinggi total ikon */
  position: relative;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: white; /* Atur warna sesuai kebutuhan */
  transition: 0.2s ease;
}

/* Garis atas lebih pendek secara default */
.menu-icon span:nth-child(1) {
  top: 0;
  right: 0;
  width: 70%; /* Garis atas lebih pendek */
}

/* Garis bawah penuh */
.menu-icon span:nth-child(2) {
  bottom: 0;
  right: 0;
  width: 100%;
}

/* Efek hover: garis atas memanjang */
.menu-icon:hover span:nth-child(1) {
  width: 100%; /* Lebar penuh saat hover */
}

/* Ketika menu terbuka (X) */
.menu-icon.open span:nth-child(1) {
  transform: rotate(10deg); /* Garis pertama berputar */
  top: 50%; /* Menempatkan garis pertama di tengah */
  left: 0;
  width: 100%;
  transform-origin: center center; /* Memastikan rotasi terjadi di tengah */
}

.menu-icon.open span:nth-child(2) {
  transform: rotate(-10deg); /* Garis kedua berputar */
  bottom: 50%; /* Menempatkan garis kedua di tengah */
  left: 0;
  width: 100%;
  transform-origin: center center; /* Memastikan rotasi terjadi di tengah */
}
