.background-container {
  background-image: url('https://cdn.sanity.io/images/jpdj44ow/production/a23805887d97bd7dcb7fc1142b56d517f9e20de1-1500x1000.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

